@use "vars" as *;

#contacts {
    display: flex;
    position: relative;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0;

    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

#search {
    flex: 6;
    height: 100%;
    padding: 2rem 10rem;
}

#info {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0em 1em;
    height: 100%;

    transition: all 1s ease;
    flex-grow: 0.00001;
    transform: scaleX(0);
    transform-origin: right;
    opacity: 0;

    .container {
        background-color: $high;
    }
}
.text-s {
    color: $low;
}

.info-selected {
    transform: scaleX(1) !important;
    flex-grow: 2 !important;
    opacity: 1 !important;
}

.info-container {
    position: sticky;
    top: 0%;
    padding: 3em;
    padding-top: 1em;
    box-shadow: 3px 3px 0 $mid;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        vertical-align: center;
    }
}

$images: 1, 2, 3, 4, 5;

@each $image in $images {
    .icon-#{$image} {
        background: url("http://friendidex.xyz/images/icon#{$image}.jpg")
            center/contain
            no-repeat;

        width: 100%;
    }
}
