@use "vars" as *;

#search-results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.5em;

    .card {
        .button {
            display: flex;
            justify-items: center;
            align-items: center;

            background-color: transparent !important;
            color: $high;
            &:hover {
                color: $mid;
            }
        }
    }
}

.search-input {
    width: 100% !important;
    font-size: 1.5em;

    input {
        caret-color: $low;
        color: $low;

        &::placeholder {
            color: $mid;
        }
    }
}
